@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    animation: effects 1s;
}
@keyframes effects{
    from{
        opacity: 0;
        transform: translatex(-100px);
    }
    to{
        opacity: 1;
        transform: translatex(0);
    }
}
.Abtcont{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content:center;
    align-items: center;
    background-color: #000080;
    flex-direction: column;
}
h1{
    color: white;
}
.content{
    margin-top: 2vh;
    box-shadow: 0px 0px 2px white;
    border-radius: 10px;
    text-align: justify;
    color: white;
    padding: 3vh 3vw;
    width: 80vw;
    height: auto;
}
strong{
    color: white;
    font-size: 15px;
}
ol li{
    list-style: none; 
    color: rgb(190, 190, 190);
    font-size: 13px;
}
p{
    font-size: 12px;
}
h4{
    font-weight: 100;
}
@media screen and (max-width: 1200px){
    body{
        animation: effects 1s;
    }
    @keyframes effects{
        from{
            opacity: 0;
            transform: translatex(-100px);
        }
        to{
            opacity: 1;
            transform: translatex(0);
        }
    }
    .Abtcont{
        display: flex;
        width: 100vw;
        min-height: 100vh;
        justify-content:center;
        align-items: center;
        background-color: #000080;
        flex-direction: column;
    }
    h1{
        color: white;
        font-size: 15px;
    }
    .content{
        margin-top: 2vh;
        box-shadow: 0px 0px 2px white;
        border-radius: 4px;
        text-align: justify;
        color: white;
        padding: 3vh 3vw;
        width: 90vw;
        height: auto;
    }
    strong{
        color: white;
        font-size: 10px;
    }
    ol li{
        list-style: none; 
        color: rgb(190, 190, 190);
        font-size: 9px;
    }
    p{
        font-size: 12px;
    }
    h4{
        font-weight: 100;
        font-size: 10px;
    }
}
