@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    animation: effects 1s;
}
@keyframes effects{
    from{
        opacity: 0;
        transform: translatex(-100px);
    }
    to{
        opacity: 1;
        transform: translatex(0);
    }
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #864af9;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.cont{
    margin-top: 100px;
    border: 1px solid white;
    height: 200px;
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow:inset 0 0 .5rem white;
    gap: 15px;
}
p{
    display: inline;
}
.exp{
    font-size: 14px;
    margin-top: 100px;
     text-align: center;
}
@media screen and (max-width: 900px){   
    .container{
        height: 100vh;
        width: 100vw;
        background-color: #864af9;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    h1{
        font-size: 1.1em;
    }
    .cont{
        margin-top: 100px;
        border: 1px solid white;
        height: 18vh;
        width: 70vw;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow:inset 0 0 .5rem white;
        gap: 5px;
    }
    p{
        font-size: .6em;
        display: inline;
    }
    .exp{
        font-size: .6em;
        margin-top: 50px;
    }
}
