@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.body{
    background-color: black;
}
.header{
    width: 100%;
    height: 90vh;
    padding: 30px 10%;
    background-image: url("n.png");
    background-size: cover;
    filter: brightness(0.5)
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    height:50px;
    width: 135px;
    background-image: url("logon1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#selection{
    height: 30px;
    width:120px;
    background-color: transparent;
    color: white;
    border: 1px solid grey;
    border-radius: 3px;
    margin-right: 1rem;
    font-size: 1rem;
    padding: 0 15px;
}
.sign{
    height: 30px;
    width:90px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
}
.cotations{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1{
    font-size:2.5rem;
    margin-bottom: 2rem;
}
p{
    font-size: 1.2rem;
}
.inp{
    height: 50px;
    width: 60%;
    margin-right: 2rem;
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    backdrop-filter: blur(5px);
    margin-top: 2rem;
    padding-left: 2rem;
    font-size: 1rem;
    border-radius: 3px;
}
.but{
    height: 50px;
    width: 20%;
    background-color: red;
    color: white;
    border: none;
    margin-top: 2rem;
    font-size: 1rem;
    border-radius: 3px;
}
.divider{
    height: 7px;
    background-color: rgba(47, 45, 45, 0.896);
}
.offer{
    padding: 50px 12%;
    font-size: 22px;
}
.info{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 50px;
    background-color: black;
    color: white;
}
.text{
    flex-basis: 50%;
    padding: 50px;
}
.image{
    flex-basis: 50%;
    padding: 50px;
}
.image img{
    display: block;
    width: 90%;
    margin: auto;
}
.foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 12px;
}
.one a,.two a,.three a,.four a{
    display: block;
    text-decoration: underline;
    color: white;
    padding: 8px 0px;
}
.one,.two,.three,.four{
    padding: 25px 0px;
}
#lm{
    background-color: transparent;
    border: 1px solid grey;
    font-size: 10px;
    color: white;
    border-radius: 1px;
    height: 30px;
    width: 80px;
    padding-left: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.para{
    font-size:12px;
}
.param{
    margin-bottom: 1.5rem;
}
.opmain{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
    transition: i 0.5s ease-in-out 0s;
}
.opmainka{
    padding: 0px;
}
.op1,.op2,.op3,.op4,.op5,.op6{
    display: block;
    height: 70px;
    width: 80%;
    background-color: rgba(58, 54, 54, 0.551);
    margin-top: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}
.opmain-mail{
    height: 60px;
    width: 60%;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 2px;
    font-size: 1rem;
    color: grey;
    padding-left: 1rem;
}
.opmain-button{
    height: 60px;
    width: 30%;
    background-color: red;
    border:none;
    border-radius: 2px;
    font-size: 1.3rem;
    color: white;
    
    margin-left: 1rem;
}
.opmain-container{
    margin: 2rem 0rem;
}
.opmain i:active{
    transform: rotate(45deg);
}
@media screen and (max-width: 600px){
    .header{
        width: 100%;
        height: 90vh;
        padding: 10px 10px;
        background-image: url("n.png");
        background-size: cover;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        height:20px;
        width: auto;
        background-image: url("logon1.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    #selection{
        height: 18px;
        width:60px;
        background-color: transparent;
        color: white;
        border: 1px solid grey;
        border-radius: 1px;
        margin-right: 10px;
        font-size: 8px;
        padding: 0 3px;
    }
    .sign{
        height: 18px;
        width:40px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 1px;
        font-size: 8px;
    }
    .cotations{
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    h1{
        font-size:25px;
        margin-bottom: 20px;
    }
    p{
        font-size: 10px;
    }
    .inp{
        height: 30px;
        width: 60%;
        background-color: transparent;
        border: 1px solid grey;
        color: grey;
        backdrop-filter: blur(5px);
        margin-top: 20px;
        padding-left: 2px;
        font-size: 9px;
        border-radius: 2px;
        margin-right: 1px;
    }
    .but{
        height: 30px;
        width: 30%;   
        background-color: red;
        color: white;
        border: none;
        font-size: 7px;
        border-radius: 2px;
    }
    .divider{
        height: 4px;
    }
    .offer{
        padding: 50px 2%;
        font-size: 12px;
    }
    .info{
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 20px;
        background-color: black;
        color: white;
    }
    .text{
        flex-basis: 100%;
        width: 50%;
        text-align: center;
    }
    .image{
        flex-basis: 100%;
        width: 50%;
    }
    .image img{
        display: block;
        width: 100%;
        margin: auto;
    }
    .foot{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        color: white;
        font-size: 7px;
    }
    .one a,.two a,.three a,.four a{
        display: block;
        text-decoration: underline;
        color: white;
        padding: 4px 0px;
    }
    .one,.two,.three,.four{
        padding: 15px 5px;
    }
    #lm{
        background-color: transparent;
        border: 1px solid grey;
        font-size: 5px;
        color: white;
        border-radius: 1px;
        height: 15px;
        width: 40px;
        padding-left: 3px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .para{
        font-size: 7px;
    }
    .opmain{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0rem;
    }
    .opmainka{
        font-size: 1rem;
    }
    .op1,.op2,.op3,.op4,.op5,.op6{
        display: block;
        height: 50px;
        width: 80%;
        background-color: rgba(58, 54, 54, 0.551);
        margin-top: 0.5rem;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
    }
    .opmain-mail{
        height: 40px;
        width: 65%;
        background-color: transparent;
        border: 1px solid grey;
        border-radius: 2px;
        font-size: 10px;
        color: grey;
        padding-left: 10px;
    }
    .opmain-button{
        height: 40px;
        width: 25%;
        background-color: red;
        border:none;
        border-radius: 2px;
        font-size: 10px;
        color: white;
    }
    .opmain-container{
        margin: 20px 20px;
    }
    .param{
        margin-bottom: 0.5rem;
        text-align: center;
    }
}
